@charset "utf-8";
table {
	background-color: #f3f3f3;
}
th,
td {
	text-align: center;
}

.lapozos{
	width: 230px;
	margin: auto;
}

#eletkorDiv{
	width: 60%;
	margin: auto;
}

#ment{
	width: 200px;
	margin: auto;
}