@charset "utf-8";

#mentes,
#ment {
    width: 200px;
    margin: auto;
}

table {
    /*display: block;
    overflow-x: auto;
    white-space: nowrap;*/
    background-color: #f3f3f3;
}
.modosit, .torol{
    text-align: center;
    width: 6%;
}

#ujFenntarto{
    width: 200px;
    color: white;
}
#ujFenn{
    color: white; 
}
#ujFenn:hover{
    color: white; 
    text-decoration: none;
}

