@charset "utf-8";

#mentes,
#ment {
    width: 200px;
    margin: auto;
}

table {
    /*display: block;
    overflow-x: auto;
    white-space: nowrap;*/
    background-color: #f3f3f3;
}
.modosit, .torol{
    text-align: center;
    width: 6%;
}

/*}

.gomb1 {
    position: absolute;
    right: -10px;
    top: 80px;
}
.gomb2 {
    position: absolute;
    right: -10px;
    top: 100px;
}
#adatMentes {
    margin: 10px;
}*/

