
/* Puck (by @eden_sg) */
.menu--puck .menu__link {
	position: relative;
	display: block;
	margin: 0 1em;
	text-align: center;
	color: #929292;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--puck .menu__link:hover/* ,
.menu--puck .menu__link:focus  */{
	color: #4e8ee2;
    text-decoration: none;
}

/* szoveg szin*/
.menu--puck .menu__item--current .menu__link {
	color: #4e8ee2;
}


/*vonalak*/
.menu--puck .menu__link::before,
.menu--puck .menu__link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 7px;
	background: #4e8ee2;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

/*vékony vonal*/
.menu--puck .menu__link::before {
	bottom: -5px;
	height: 2px;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu--puck .menu__link::after {
	bottom: 0;
}

.menu--puck .menu__item--current .menu__link::before,
.menu--puck .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
	transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {	
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1.5em;	
	cursor: pointer;
	width: 60%;
}

.menu__item {
	display: block;
	margin: 0.2em 0; 
	width: 100%;
}

a {
	text-decoration: none;
	color: #4e3c3e;
	outline: none;
}

@media only screen and (max-width: 1800px) {
	.menu__link {width: 70%;}}

@media only screen and (max-width: 1700px) {
	.menu__link {width: 80%;}}

@media only screen and (max-width: 1400px) {
	.menu__link {width: 100%;}}

.menuk{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu1{display: flex; justify-content: center;}
.menu2{display: flex; justify-content: center; padding-top: 5px;}

.nav-items{
	display: none;
	/* border: 1px solid #4e8ee2; */
	background-color: #4e8ee2;
	color: aliceblue;
	float: left;
	width: 35%;
	border-radius: 50px 20px;
	text-align: center;
}
.nav-items:hover{background-color: #d4e2f5;}
.nav-items a:hover{color: #4e8ee2; font-weight: bold;}

.nav-items a {
	text-decoration: none;
	color: aliceblue;
	display: block;
	padding: 8px;
  }

@media only screen and (max-width: 990px) {
	.nav-items{display: block;}
	#menu{display: none;}
	#tartalom{padding-left: 20px;}
}

.navbar-toggler:hover{background-color: #4e8ee2;}